awesome-slugify==1.6.5
beautifulsoup4==4.9.3
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
cssutils==1.0.2
idna==2.10
lxml==4.6.2
Pillow==8.0.1
premailer==3.7.0
readability-lxml==0.8.1
regex==2020.11.13
requests==2.25.1
soupsieve==2.1
Unidecode==0.4.21
urllib3==1.26.2
yagmail==0.14.245
fastapi==0.63.0
uvicorn==0.13.2
